{% extends 'books/base_generic.html' %}
{% load static %}

{% block content %}
<section>
    <h1>Welcome to the Roman Catholic Archive!</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae dolore adipisci ipsam commodi omnis, ratione sapiente iusto voluptas cupiditate dolor quos minima modi cumque possimus, blanditiis quidem optio fugit libero!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae dolore adipisci ipsam commodi omnis, ratione sapiente iusto voluptas cupiditate dolor quos minima modi cumque possimus, blanditiis quidem optio fugit libero!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae dolore adipisci ipsam commodi omnis, ratione sapiente iusto voluptas cupiditate dolor quos minima modi cumque possimus, blanditiis quidem optio fugit libero!
    </p>
</section>
{% endblock %}
