<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}<title>The Roman Catholic Archive</title>{% endblock %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'books/normalize.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'books/styles.css' %}" />
</head>
<body>
    <header>
        <a href="{% url 'books:index' %}">
            <img src="{% static 'books/images/header.png' %}" alt="">
        </a>
    </header>
    <nav>
        <a href="{% url 'books:index' %}">Home</a>
        <a href="{% url 'books:catalog' %}">Catalog of Catholic Publications</a>
        <a href="">Support the Project</a>
    </nav>
    <article>
        {% block content %}{% endblock %}
    </article>
</body>
</html>