{% extends 'books/base_generic.html' %}

{% block content %}
{% if books %}
    <h1>
        Catalog of Catholic Books
        {% if category %}
            (Category: {{ category }})
        {% endif %}
    </h1>

    {% if category %}
        <p>
            <a href="{% url 'books:catalog' %}">View all</a>
        </div>
    {% endif %}

    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Year Published</th>
            <th>Category</th>
            <th>Link to publication</th>
        </tr>

        {% for book in books %}
            <tr>
                <td>
                    <a href="{% url 'books:detail' book.id %}">{{ book.title }}</a>
                </td>
                <td>
                    {{ book.author }}
                </td>
                <td>
                    {{ book.publication_year }}
                </td>
                <td>
                    {% for category in book.categories.all %}
                        <a href="{% url 'books:catalog' %}?category={{ category.id }}">{{ category.name }}</a>
                    {% empty %}
                        None
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ book.download_url }}">{{ book.download_url }}</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <div>
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a href="{% url 'books:catalog' page=page_obj.previous_page_number %}">Prev</a>
            {% else %}
                Prev
            {% endif %}

            | Page {{ page_obj.number }} |

            {% if page_obj.has_next %}
                <a href="{% url 'books:catalog' page=page_obj.next_page_number %}">Next</a>
            {% else %}
                Next
            {% endif %}
        {% endif %}
    </div>
{% else %}
    <h1>No books found in database</h1>
{% endif %}
{% endblock %}
