{% extends 'books/base_generic.html' %}
{% load static %}

{% block content %}

  <img src="{% static 'books/images/index_photo2.jpg' %}" alt="">


{% if recently_added_books %}
    <h2>Recently Added Publications</h1>

    <ul>
        {% for book in recently_added_books %}
            <li>
                <a href="{% url 'books:detail' book.id %}">{{ book.title }}</a>
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'books:catalog' %}">View all books</a>
{% endif %}


{% endblock %}
