{% extends 'books/base_generic.html' %}

{% block content %}
<section>
    <h1>Welcome</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae dolore adipisci ipsam commodi omnis, ratione sapiente iusto voluptas cupiditate dolor quos minima modi cumque possimus, blanditiis quidem optio fugit libero!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae dolore adipisci ipsam commodi omnis, ratione sapiente iusto voluptas cupiditate dolor quos minima modi cumque possimus, blanditiis quidem optio fugit libero!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae dolore adipisci ipsam commodi omnis, ratione sapiente iusto voluptas cupiditate dolor quos minima modi cumque possimus, blanditiis quidem optio fugit libero!
    </p>
</section>

{% if recently_added_books %}
    <h2>Recently Added Books</h1>

    <ul>
        {% for book in recently_added_books %}
            <li>
                <a href="{% url 'books:detail' book.id %}">{{ book.title }}</a>
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'books:catalog' %}">View all books</a>
{% endif %}

<h2>Contact</h1>
<a href="mailto:theromancatholicarchive@gmail.com">theromancatholicarchive@gmail.com</a>
{% endblock %}
